@model DapperRepository.Web.Models.Customers.CustomerModel
@{
    Layout = "";
}

<input type="hidden" id="Id" value="@Model.Id" />
<div class="layui-form-item">
    <label class="layui-form-label">Username</label>
    <div class="layui-input-block">
        <input type="text" class="layui-input" id="Username" value="@Model.Username" placeholder="Please input your name">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">Email</label>
    <div class="layui-input-block">
        <input type="email" class="layui-input" id="Email" value="@Model.Email" placeholder="Please input your email address">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">Role</label>
    <div class="layui-input-block">
        @Html.DropDownList("RoleId", Model.AvailableRoles, new { @class = "layui-input" })
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">Active</label>
    <div class="layui-input-block">
        <input type="checkbox" id="Active" lay-skin="switch" lay-text="YES|NO" @(Model.Active ? "checked=true" : "")>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button type="button" class="layui-btn" id="btn-edit">Edit</button>
    </div>
</div>