@model DapperRepository.Web.Models.Customers.CustomerModel
@{
    Layout = "";
}
<form>
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.RoleId)
        </div>
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.RoleId, Model.AvailableRoles, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Active, new { @class = "form-control" })
        </div>
    </div>
</form>
