@model IEnumerable<DapperRepository.Core.Domain.Customers.CustomerDtoModel>
@{
    ViewBag.Title = "Index";
}

<h2>Data List</h2>

@*<h3>@ViewBag.ExecuteResult @ViewBag.ExecuteTime</h3>*@
<div class="content-header clearfix">
    <h5 class="pull-left">
        <a href="@Url.Action("Create")" class="btn btn-primary">Add</a>
    </h5>
</div>
<table id="customer-table" class="table table-bordered"></table>
<div>
    <h2>For more info:</h2>
    Blog Address: <a href="https://www.cnblogs.com/YUTOUYUWEI/p/10450953.html" target="_blank">BLOG</a>
    <br />
    <br />
    Git Address: <a href="https://github.com/Olek-HZQ/DapperRepositoryDemo" target="_blank">Dapper and Repository Pattern in MVC </a>
</div>
<script>
    $(function () {

        $('#customer-table').bootstrapTable({
            url: '@Url.Action("CustomerList")',
            method: 'GET',
            cache: false,
            pagination: true,
            queryParams: function (e) {
                var param = {
                    pageIndex: (e.offset / e.limit) + 1,
                    pageSize: e.limit
                };
                return param;
            },
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 10,
            uniqueId: "Id",
            columns: [
                {
                    field: 'Id',
                    title: 'ID'
                }, {
                    field: 'Username',
                    title: 'Username'
                }, {
                    field: 'Email',
                    title: 'Email'
                }, {
                    field: "RoleName",
                    title: "Role"
                }, {
                    field: 'Active',
                    title: 'Active'
                }, {
                    field: "CreationTime",
                    title: "CreationTime"
                },
                {
                    field: "Action",
                    title: "Action",
                    align: "center",
                    formatter: action,
                    edit: true
                }
            ]
        });

    });

    function action(value, row) {
        var str = '';
        str += '<a class="btn btn-default btn-sm href="javascript:void(0);" onclick="editCustomer(' + row.Id + ')" title="Edit">Edit</a>  ';
        str += '  <a class="btn btn-default btn-sm href="javascript:void(0);" onclick="deleteCustomer(' + row.Id + ')" title="Delete">Delete</a>';

        return str;
    }

    function editCustomer(id) {
        location.href = '/Customer/Edit/' + id;
    }

    function deleteCustomer(id) {
        if (confirm("Are you sure to delete the data?")) {
            $.ajax({
                url: "@Url.Action("Delete")",
                type: "POST",
                data: { id: id }
            }).done(function (data) {
                if (data.status) {
                    location.reload();
                } else {
                    console.log(data.msg);
                }
            }).error(function (xhr) {
                console.log(xhr.message);
            });
        }
    }

</script>
